#ytplayer{
  margin: 1rem;
}
body{
	background: #121212;
}
.cent{
	text-align: center;
	background: #272727;
}
.imm {
	height: 90px;
	width: 300px;
	display: block;
	margin: auto;
}
.bll {
	background: #121212;
	color: #ffffff;
}
.bs {
	background: #383838;
	color: #ffffff;
}
.bbl {
	color: #ffffff;
}